.mainMenuClass{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: beige;
}
.buttonMenuClass{
    width:25%;
    height:12%;
    position: relative;
    left:30%;
    margin:6%;
    background-color: black;
}
.menuTextClass{
    position:relative;
    top:30%;
    margin:auto;
    text-align:center;
    font-size:4vmin;
}

.buttonMenuClass:hover  {
    animation-name: movementbutton;
    animation-duration: 0.80s;
    animation-iteration-count: infinite;
    background-color: grey;
}
@keyframes movementbutton {
    0%   {width:25%; height:12%;}
    50%  {width:25.5%; height:12%;left:29.8%; }
    100% {width:25%; height:12%;}
  }